<%= link_to "New", new_admin_gallery_path %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>
    <tbody>
      <% @galleries.each do |gallery| %>
        <tr>
          <td><%= image_tag gallery.image.thumb %></td>
          <td><%= gallery.title %></td>
          <td><%= gallery.description %></td>
        </tr>
      <% end %>
    </tbody>
</table>
