<!--   *** DETAIL ***-->
<div class="row">
  <div class="col-lg-8">
    <div class="content-column-content">
      <h1>About Doris Lin(林詩晏)</h1>
        <p class="lead">我的優勢</p>
        <p>1. 有五年以上的手繪經驗，具有優秀的佈局感和色彩感</p>
        <p>2. 有協作能力、樂於和同事們溝通並且討論</p>
        <p>3. 有新創團隊網頁平面設計經驗</p>
        <p>4. 對於 HTML5 CSS 有一定程度的瞭解</p>
        <p>5. 熟悉使用Photoshop、illustrator、AutoCAD、Sketchup及其主流設計類軟件</p>
      </p>
      <div class="row">
        <div class="col-md-4">
          <p>
            <%= image_tag "about.jpg", class: "image img-circle img-responsive" %>
          </p>
        </div>
        <div class="col-md-8">
          <div class="skill-item">
            <div class="progress-title">Photoshop</div>
            <div class="progress">
              <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;" class="progress-bar progress-bar-skill1"><span class="sr-only">60</span></div>
            </div>
          </div>
          <div class="skill-item">
            <div class="progress-title">illustrator</div>
            <div class="progress">
              <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 73%;" class="progress-bar progress-bar-skill2"><span class="sr-only">70</span></div>
            </div>
          </div>
          <div class="skill-item">
            <div class="progress-title">Sketch</div>
            <div class="progress">
              <div role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 62%;" class="progress-bar progress-bar-skill4"><span class="sr-only">80</span></div>
            </div>
          </div>
          <div class="skill-item">
            <div class="progress-title">AutoCAD</div>
            <div class="progress">
              <div role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 76%;" class="progress-bar progress-bar-skill3"><span class="sr-only">90</span></div>
            </div>
          </div>
          <div class="skill-item">
            <div class="progress-title">3Dmax</div>
            <div class="progress">
              <div role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 73%;" class="progress-bar progress-bar-skill4"><span class="sr-only">100</span></div>
            </div>
          </div>
        </div>
      </div>
      <h4 class="text-uppercase">工作經歷</h4>
      <ul>
        <li>2016-2017 冠通網路科技公司 UI / 平面設計師</li>
      </ul>
      <p>負責<a href="https://travbe.com/">Travbe旅遊網站</a>風格及 UI 畫面設計，知名藝術家<a href="http://chiusm.com/">邱素美</a>個人網站設計訂製、博奕網站 UI 設計、Desktop Software icon 設計。</p>

      <h4 class="text-uppercase">教育經歷</h4>
      <ul>
        <li>2013-2017 中國科技大學 室內設計系</li>
      </ul>
    </div>
  </div>
</div>
