.top-control {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  font-size: 12px;
  z-index: 1;

  &__link {
    display: inline-block;
    padding: 5px 10px;
    background-color: #666;
    background-color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: #e6e6e6;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: background-color 150ms;
    -o-transition: background-color 150ms;
    -webkit-transition: background-color 150ms;
    transition: background-color 150ms;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}
